.container
  .row
    .col-md-12.text-center
      %h2 Meus Torneios
      = image_tag "div.png"
  .row
    - 10.times do
      .col-md-3
        .inner.blocks.text-center
          %h3 Torneio dos Campeões
          %span.link Ver liga
