!!!
%html
  %head
    %title PokemonTournament
    = stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
